@model sistema_citas_medicas.Models.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = "Detalles usuario";
    var doctor = Model.Doctor;
    var patient = Model.Patient;
}

<h4 class="mb-4 text-body-emphasis text-center">
    <i class="fa-solid fa-circle-info me-1"></i>
    Detalles usuario
</h4>

<div class="container">
    <div class="row">
        <dl class="row">
            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.User.UserId)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.User.UserId)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.User.FirstName)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.User.FirstName)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.User.LastName)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.User.LastName)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.User.Email)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.User.Email)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.User.Phone)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.User.Phone)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.User.Role)</dt>
                <dd class="text-body">
                    @{
                        var rol = Model.User.Role?.ToLower();
                        var icon = "fa-user";
                        var text = "Desconocido";

                        switch (rol)
                        {
                            case "paciente":
                                icon = "fa-bed-pulse";
                                text = "Paciente";
                                break;
                            case "medico":
                                icon = "fa-user-doctor";
                                text = "Médico";
                                break;
                            case "administrador":
                                icon = "fa-user-shield";
                                text = "Administrador";
                                break;
                        }
                    }
                    <span class="badge bg-body-tertiary text-body-emphasis border">
                        <i class="fa-solid @icon me-1"></i>
                        @text
                    </span>
                </dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.User.ProfilePicture)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.User.ProfilePicture)</dd>
            </div>
        </dl>
    </div>
</div>

@if (doctor != null)
{
    <hr />
    <div class="container">
        <h4 class="text-body-emphasis text-center mb-4">
            <i class="fa-solid fa-user-doctor me-1"></i>
            Detalle médico
        </h4>

        <div class="row">
            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => doctor.SpecialtyName)</dt>
                <dd class="text-body">@doctor.SpecialtyName</dd>
            </div>
        </div>
    </div>
}

@if (patient != null)
{
    var culture = new System.Globalization.CultureInfo("es-PE");
    var birthDate = patient.BirthDate?.ToString("dd MMM yyyy", culture) ?? "";
    <hr />
    <div class="container">
        <h4 class="text-body-emphasis text-center mb-4">
            <i class="fa-solid fa-bed-pulse me-1"></i>
            Detalle paciente
        </h4>

        <div class="row">
            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => patient.BirthDate)</dt>
                <dd class="text-body">@birthDate</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => patient.BloodType)</dt>
                <dd class="text-body">@patient.BloodType</dd>
            </div>
        </div>
    </div>
}

<div class="d-flex justify-content-end gap-2 mt-4 container">
    <a href="@Url.Action("Index")" class="btn btn-secondary">
        <i class="fa-solid fa-left-long me-1"></i>
        Volver
    </a>

    <a href="@Url.Action("Edit", new { id = Model.User.UserId })" class="btn btn-primary">
        <i class="fa-solid fa-pen me-1"></i>
        Editar
    </a>
</div>