@model sistema_citas_medicas.Models.Paciente

@{
    ViewBag.Title = "Detalle paciente";
}

<h4 class="mb-4 text-body-emphasis text-center">
    <i class="fa-solid fa-circle-info me-1"></i>
    Detalle paciente
</h4>

<div class="container">
    <div class="row">
        <dl class="row">
            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.IdUsuario)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.IdUsuario)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.Nombre)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.Nombre)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.Apellido)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.Apellido)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.Correo)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.Correo)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.Telefono)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.Telefono)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.FotoPerfil)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.FotoPerfil)</dd>
            </div>

            @{
                var cultura = new System.Globalization.CultureInfo("es-PE");
                var fechaNacimientoFormateada = Model.FechaNacimiento?.ToString("dd MMM yyyy", cultura) ?? "";
            }

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.FechaNacimiento)</dt>
                <dd class="text-body">@fechaNacimientoFormateada</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.GrupoSanguineo)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.GrupoSanguineo)</dd>
            </div>
        </dl>
    </div>
</div>

<div class="d-flex justify-content-end gap-2 mt-4">
    <a href="@Url.Action("Index")" class="btn btn-secondary">
        <i class="fa-solid fa-left-long me-1"></i>
        Volver
    </a>

    <a href="@Url.Action("Editar", new { id = Model.IdUsuario })" class="btn btn-primary">
        <i class="fa-solid fa-pen me-1"></i>
        Editar
    </a>
</div>