@model sistema_citas_medicas.Models.Paciente

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalles del paciente</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FotoPerfil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FotoPerfil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrupoSanguineo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoSanguineo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.IdUsuario }) |
    @Html.ActionLink("Volver al inicio", "Index")
</p>
