@model IEnumerable<sistema_citas_medicas.Models.Medico>

@{
  ViewBag.Title = "Index";
}

<h2>Lista Médico</h2>

<p>
  @Html.ActionLink("Agregar Médico", "Crear")
</p>

<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.IdUsuario)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Nombre)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Apellido)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Correo)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Telefono)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Rol)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.FotoPerfil)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.IdEspecialidad)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.EspecialidadNombre)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.IdUsuario)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Nombre)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Apellido)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Correo)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Telefono)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Rol)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.FotoPerfil)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.EspecialidadNombre)
      </td>
      <td>
        @Html.ActionLink("Editar", "Editar", new { id = item.IdUsuario }) |
        @Html.ActionLink("Detalle", "Detalle", new { id = item.IdUsuario }) |
        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdUsuario })
      </td>
    </tr>
  }

</table>