@model sistema_citas_medicas.Models.Usuario

@{
    ViewBag.Title = "Detalle usuario";
    var medico = ViewBag.Medico as sistema_citas_medicas.Models.Medico;
    var paciente = ViewBag.Paciente as sistema_citas_medicas.Models.Paciente;
}

<h4 class="mb-4 text-body-emphasis text-center">
    <i class="fa-solid fa-circle-info me-1"></i>
    Detalle usuario
</h4>

<div class="container">
    <div class="row">
        <dl class="row">
            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.IdUsuario)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.IdUsuario)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.Nombre)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.Nombre)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.Apellido)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.Apellido)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.Correo)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.Correo)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.Telefono)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.Telefono)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.Rol)</dt>
                <dd class="text-body">
                    @{
                        var rol = Model.Rol?.ToLower();
                        var icon = "fa-user";
                        var text = "Desconocido";

                        switch (rol)
                        {
                            case "pacientes":
                                icon = "fa-bed-pulse";
                                text = "Paciente";
                                break;
                            case "medicos":
                                icon = "fa-user-doctor";
                                text = "Médico";
                                break;
                            case "administrador":
                                icon = "fa-user-shield";
                                text = "Administrador";
                                break;
                        }
                    }
                    <span class="badge bg-body-tertiary text-body-emphasis border">
                        <i class="fa-solid @icon me-1"></i>@text
                    </span>
                </dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.FotoPerfil)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.FotoPerfil)</dd>
            </div>
        </dl>
    </div>
</div>

@if (medico != null)
{
    <hr />
    <div class="container">
        <h4 class="text-body-emphasis text-center mb-4">
            <i class="fa-solid fa-user-doctor me-1"></i>
            Detalle médico
        </h4>

        <div class="row">
            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => medico.EspecialidadNombre)</dt>
                <dd class="text-body">@medico.EspecialidadNombre</dd>
            </div>
        </div>
    </div>
}

@if (paciente != null)
{
    var cultura = new System.Globalization.CultureInfo("es-PE");
    var fechaNacimiento = paciente.FechaNacimiento?.ToString("dd MMM yyyy", cultura) ?? "";
    <hr />
    <div class="container">
        <h4 class="text-body-emphasis text-center mb-4">
            <i class="fa-solid fa-bed-pulse me-1"></i>
            Detalle paciente
        </h4>

        <div class="row">
            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => paciente.FechaNacimiento)</dt>
                <dd class="text-body">@fechaNacimiento</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => paciente.GrupoSanguineo)</dt>
                <dd class="text-body">@paciente.GrupoSanguineo</dd>
            </div>
        </div>
    </div>
}

<div class="d-flex justify-content-end gap-2 mt-4 container">
    <a href="@Url.Action("Index")" class="btn btn-secondary">
        <i class="fa-solid fa-left-long me-1"></i>
        Volver
    </a>

    <a href="@Url.Action("Editar", new { id = Model.IdUsuario })" class="btn btn-primary">
        <i class="fa-solid fa-pen me-1"></i>
        Editar
    </a>
</div>