@model IEnumerable<sistema_citas_medicas.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fotoPerfil)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contraseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fotoPerfil)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idUsuario }) |
            @Html.ActionLink("Details", "Details", new { id = item.idUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idUsuario })
        </td>
    </tr>
}

</table>
