@model sistema_citas_medicas.Models.Specialty

@{
    ViewBag.Title = "Detalles especialidad";
}

<h4 class="mb-4 text-body-emphasis text-center">
    <i class="fa-solid fa-circle-info me-1"></i>
    Detalles especialidad
</h4>

<div class="container">
    <div class="row">
        <dl class="row">
            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.SpecialtyId)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.SpecialtyId)</dd>
            </div>

            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.Name)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.Name)</dd>
            </div>

            <div class="col-12 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.Description)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.Description)</dd>
            </div>
        </dl>
    </div>
</div>

<div class="d-flex justify-content-end gap-2 mt-4">
    <a href="@Url.Action("Index")" class="btn btn-secondary">
        <i class="fa-solid fa-left-long me-1"></i>
        Volver
    </a>
    <a href="@Url.Action("Edit", new { id = Model.SpecialtyId })" class="btn btn-primary">
        <i class="fa-solid fa-pen me-1"></i>
        Editar
    </a>
</div>