@model sistema_citas_medicas.Models.Doctor

@{
    ViewBag.Title = "Editar médico";
}

<h4 class="text-center mb-3 text-body-emphasis">
    <i class="fa-solid fa-pen me-1"></i>
    Editar médico
</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserId)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <p class="text-danger mb-3">
        * Obligatorio
    </p>

    <div class="row mb-2">
        <div class="col-md-6 mb-2">
            @Html.LabelFor(model => model.FirstName, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Ingrese nombre", disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(model => model.LastName, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Ingrese apellido", disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6 mb-2">
            @Html.LabelFor(model => model.Email, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "correo@ejemplo.com", disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(model => model.SpecialtyName, new { @class = "form-label" })
            <span class="text-danger">*</span>
            @Html.DropDownList("SpecialtyId", ViewBag.Specialties as SelectList, new { @class = "form-select" })
            @Html.ValidationMessageFor(model => model.SpecialtyId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6 mb-2">
            @Html.LabelFor(model => model.Status, new { @class = "form-label" })
            <span class="text-danger">*</span>
            @Html.DropDownListFor(model => model.Status,
                new SelectList(new[] {
                    new { Value = true, Text = "Activo" },
                    new { Value = false, Text = "Inactivo" }
                }, "Value", "Text", Model.Status),
                new { @class = "form-select" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="d-flex justify-content-end gap-2 mt-3">
        <a href="@Url.Action("Index")" class="btn btn-secondary">
            <i class="fa-solid fa-left-long me-1"></i>
            Volver
        </a>

        <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-floppy-disk me-1"></i>
            Guardar
        </button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}