@model sistema_citas_medicas.Models.Especialidad

@{
    ViewBag.Title = "Eliminar especialidad";
}

<h4 class="mb-4 text-center text-body-emphasis">
    <i class="fa-solid fa-circle-exclamation me-1 text-danger"></i>
    ¿Estás seguro de que deseas eliminar esta especialidad?
</h4>

<div class="container">
    <div class="row">
        <dl class="row">
            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.IdEspecialidad)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.IdEspecialidad)</dd>
            </div>
            <div class="col-md-6 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.Nombre)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.Nombre)</dd>
            </div>
            <div class="col-md-12 mb-3">
                <dt class="text-body-emphasis">@Html.DisplayNameFor(m => m.Descripcion)</dt>
                <dd class="text-body">@Html.DisplayFor(m => m.Descripcion)</dd>
            </div>
        </dl>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="d-flex justify-content-end gap-2 mt-4 container">
        <a href="@Url.Action("Index")" class="btn">
            <i class="fa-solid fa-left-long me-1"></i>
            Cancelar
        </a>
        <button type="submit" class="btn btn-danger">
            <i class="fa-solid fa-trash me-1"></i>
            Eliminar
        </button>
    </div>
}