@model IEnumerable<sistema_citas_medicas.Models.Especialidad>

@{
  ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
  @Html.ActionLink("Agregar Especialidad", "Crear")
</p>
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.IdEspecialidad)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Nombre)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Descripcion)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.IdEspecialidad)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Nombre)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
      </td>
      <td>
        @Html.ActionLink("Editar", "Editar", new { id = item.IdEspecialidad }) |
        @Html.ActionLink("Detalle", "Detalle", new { id = item.IdEspecialidad }) |
        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdEspecialidad })
      </td>
    </tr>
  }

</table>