@model medical_appointment_system.Models.Patient

@{
    ViewBag.Title = "Editar paciente";
}

<h4 class="text-center mb-3 text-body-emphasis">
    <i class="fa-solid fa-pen me-1"></i>
    Editar paciente
</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <p class="text-danger mb-3">
        * Obligatorio
    </p>

    @Html.HiddenFor(model => model.UserId)

    <div class="row mb-2">
        <div class="col-md-6 mb-2">
            @Html.Label("Código", htmlAttributes: new { @class = "form-label" })
            <input type="text" class="form-control" value="@Model.UserId" disabled />
        </div>

        <div class="col-md-6">
            @Html.LabelFor(model => model.FirstName, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Ingrese nombre", disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6 mb-2">
            @Html.LabelFor(model => model.LastName, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Ingrese apellido", disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(model => model.Email, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "correo@ejemplo.com", disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6 mb-2">
            @Html.LabelFor(m => m.BirthDate, new { @class = "form-label" })
            <span class="text-danger">*</span>
            @Html.TextBoxFor(m => m.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(m => m.BloodType, new { @class = "form-label" })
            @Html.DropDownListFor(m => m.BloodType, new SelectList(new[] {
                new { Value = "A+", Text = "A+" }, new { Value = "A-", Text = "A-" },
                new { Value = "B+", Text = "B+" }, new { Value = "B-", Text = "B-" },
                new { Value = "AB+", Text = "AB+" }, new { Value = "AB-", Text = "AB-" },
                new { Value = "O+", Text = "O+" }, new { Value = "O-", Text = "O-" }
            }, "Value", "Text", Model.BloodType), "Seleccione un grupo sanguíneo", new { @class = "form-select" })
            @Html.ValidationMessageFor(m => m.BloodType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="d-flex justify-content-end gap-2 mt-3">
        <a href="@Url.Action("Index")" class="btn btn-secondary">
            <i class="fa-solid fa-left-long me-1"></i>
            Volver
        </a>

        <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-floppy-disk me-1"></i>
            Guardar
        </button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}