@model IEnumerable<Web.Models.Patients.PatientListDTO>

@{
    ViewData["Title"] = "Pacientes";
}

<h4 class="text-center mb-3 text-body-emphasis">
    <i class="fa-solid fa-bed-pulse me-1"></i>
    Pacientes
</h4>

<div id="buttonGroupHeader" class="d-flex justify-content-between align-items-center mb-3">
    <a asp-action="Create" class="btn btn-primary">
        <i class="fa-solid fa-circle-plus me-1"></i>
        Crear
    </a>

    <div>
        <a asp-action="ExportToPDF" class="btn btn-danger me-1">
            <i class="fa-solid fa-file-pdf me-1"></i>
            PDF
        </a>

        <a asp-action="ExportToExcel" class="btn btn-success">
            <i class="fa-solid fa-file-excel me-1"></i>
            Excel
        </a>
    </div>
</div>

<div id="spinnerLoad" class="d-flex justify-content-center align-items-center my-5">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
</div>

<section id="tableContainer" class="d-none">
    <table id="patientTable" class="table mb-0">
        <thead>
            <tr>
                <th class="text-start">@Html.DisplayNameFor(model => model.UserId)</th>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.BirthDate)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.BloodType)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.ProfilePicture)</th>
                <th class="text-center"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                var culture = new System.Globalization.CultureInfo("es-PE");
                var formattedBirthDate = item.BirthDate.ToString("dd MMM yyyy", culture) ?? "";

                <tr>
                    <td class="text-start">
                        <span class="badge bg-body-tertiary text-body-emphasis border">
                            @item.UserId
                        </span>
                    </td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td class="text-center">@formattedBirthDate</td>
                    <td class="text-center">@item.BloodType</td>
                    <td class="text-center">
                        @if (!string.IsNullOrEmpty(item.ProfilePicture))
                        {
                            <img src="@item.ProfilePicture" alt="Foto de perfil" width="28" height="28" class="rounded-circle border" />
                        }
                        else
                        {
                            <i class="fa-solid fa-circle-user" style="font-size: 28px;"></i>
                        }
                    </td>
                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-secondary btn-sm" title="Detalles">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-secondary btn-sm me-1" title="Editar">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            initCustomDataTable('#patientTable');
        });
    </script>
}
